.h-70{
    height: 70%;
    min-height: 70vh;
}

.h-30{
    height: 30%;
    min-height: 30vh;
}


body{
    width: 100%;
}

/* .content-img{
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/login_restaurant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.logo{
    width: 150px;
    height: 81px;
}

.btn-lg{
    position: absolute;
    padding: 40px;
    border-radius: 15px;
}

/* .border-login{
    border-radius: 10px;
} */

.block-img{
    height: 100vh;
    background-image: url("../img/login_restaurant.jpg");
    background-size: cover;
}

i{
    font-size: 24pt;
}