.h-70{
    height: 70%;
    min-height: 70vh;
}

.h-30{
    height: 30%;
    min-height: 30vh;
}


body{
    width: 100%;
}

.logo{
    width: 150px;
    height: 81px;
}

.btn-lg{
    padding: 40px;
    border-radius: 15px;
}




